h1 {
	text-align: center;
	margin-top: 230px;
	font-size: 100px;
}

h1 span:nth-child(1) {
	color: rgb(233, 8, 8);
}
h1 span:nth-child(2) {
	color: rgb(95, 91, 91);
	font-size: 70px;
}
h1 span:nth-child(3) {
	color: rgb(233, 8, 8);
}
h1 span:nth-child(4) {
	color: rgb(95, 91, 91);
	font-size: 70px;
}
h1 span:nth-child(5) {
	color: rgb(233, 8, 8);
	color-scheme: 70;
}
h1 span:nth-child(6) {
	color: rgb(0, 0, 0);
}
h1 span:nth-child(7) {
	color: blue;
}
h1 span:nth-child(8) {
	color: red;
}
h1 span:nth-child(9) {
	color: yellow;
}
h1 span:nth-child(10) {
	color: blue;
}
h1 span:nth-child(11) {
	color: green;
}
h1 span:nth-child(12) {
	color: red;
}


.search-bar {
	width: 850px;
	height: 50px;
}